<div class="jumbotron jumbotron-fluid text-center bg-blue">
  <div class="container">
    <h1>RecCenter</h1>
    <p>Track your health</p>
    <button type="button" class="btn btn-success">Sign Up</button>
    <br>
    <p class="sign-in">Already a member?</p>
    <a href="#" class="sign-in grey">Sign in</a>
  </div>
</div>

<div class="container-fluid part bg-yellow">
  <div class="row">
    <div class="col-sm-4">
      <img class="svg" src="../../assets/svg/chronograph-160753.svg">
    </div>
    <div class="col-sm-8 text-center">
      <h2 class="text-uppercase">Calorie Counter</h2>
      <p>Search through a database of foods to get nutritional facts of the foods you eat. You'll be able to keep track
        of calories, fats, sodium, sugars, and more. Keep a record of the food you've eaten and make adjustments as
        needed. Also enroll in a meal plan for a concrete set of meals to take throughout the week.</p>
    </div>
  </div>
</div>

<div class="container-fluid part bg-grey">
  <div class="row">
    <div class="col-sm-8 text-center">
      <h2 class="text-uppercase">Workout Plan</h2>
      <p>Looking to find your next workout? Gain access to thousands of different exercises and workouts for the next
        time you hit the gym. You'll also have access to multiple workout plans ranging from your experience to choose.
        from</p>
    </div>
    <div class="col-sm-4">
      <img class="svg" src="../../assets/svg/dumbbells-293955.svg">
    </div>
  </div>
</div>

<div class="container-fluid text-center part bg-yellow">
  <h2 class="text-uppercase">and more</h2>
  <p>We have additional tools for finding your BMI and planning goals.</p>
</div>