  .navbar {
    position: relative;
    padding-top: auto;
    bottom: 0;
    top: 100px;
    width: 100%;
    /*Fixed footer height */
    height: 20%;
    background-color: #f5f5f5;
  }

a{
    color: white;
}