<div class="album text-muted">
  <div class = "container">
    <div class = "row">
      <div class = "card text-center text-white bg-primary" style = "margin: 10px">
        <img alt="Archie" style="height: 280px; width: 250px; display: block;" src="assets/img/archie.png" data-holder-rendered="true">
        <p class = "card-text">
          Archie Paredes
        </p>
      </div>
      <div class = "card text-center text-white bg-primary" style = "margin: 10px">
          <img alt="Caroline" style="height: 280px; width: 250px; display: block;" src="assets/img/caroline.png" data-holder-rendered="true">
          <p class = "card-text">
            Caroline Muller
          </p>
        </div>
        <div class = "card text-center text-white bg-primary" style = "margin: 10px">
            <img src="assets/img/jason.png" alt = "Jason" style="height: 280px; width: 250px; display: block;"/>
            <p class = "card-text">
              Jason Lai
            </p>
        </div>
        <div class = "card text-center text-white bg-primary" style = "margin: 10px">
            <img alt="Jonah" style="height: 280px; width: 250px; display: block;" src="assets/img/jonah.png" data-holder-rendered="true">
            <p class = "card-text">
              Jonah Roach
            </p>
         </div>
         <div class = "card text-center text-white bg-primary" style = "margin: 10px">
            <img alt="Michael" style="height: 280px; width: 250px; display: block;" src="assets/img/michael.png" data-holder-rendered="true">
            <p class = "card-text">
              Michael Szal
            </p>
        </div>
        <div class = "card text-center text-white bg-primary" style = "margin: 10px">
            <img alt="Nathaniel" style="height: 280px; width: 250px; display: block;" src="assets/img/nate.png" data-holder-rendered="true">
            <p class = "card-text">
              Nathaniel Alvarado
            </p>
        </div>

    </div>

  </div>
</div>


