<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"> RecCenter </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavBar"
    aria-controls="collapsingNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="collapsingNavBar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/food">Search Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workout">Search Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bmi">BMI</a>
      </li>
      <!--Just for testing-->
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup-step2">Signup Part 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/update-userdata">Update User Info</a>
      </li>
      -->
    </ul>
  </div>
</nav>