<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <a class="navbar-brand" href="#"> RecCenter </a>
  
  
  <button class="navbar-toggler" type="button" (click) = "isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="c_NavBar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="c_NavBar" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/food">Search Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workout">Search Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bmi">BMI</a>
      </li>
    </ul>
  </div>
</nav>