<div class="container d-flex flex-column">

  <input id="searchInput" class="justify-content-center" type="text" placeholder="Search...">

  <table class="table">
    <tbody>
      <tr>
        <th>Calories</th>
        <td>230</td>
      </tr>
      <tr>
        <th>Total Fat</th>
        <td>8g</td>
      </tr>
      <tr>
        <th>Cholestrol</th>
        <td>0mg</td>
      </tr>
      <tr>
        <th>Sodium</th>
        <td>160mg</td>
      </tr>
      <tr>
        <th>Total Carbohydrates</th>
        <td>37g</td>
      </tr>
      <tr>
        <th>Protein</th>
        <td>3g</td>
      </tr>
    </tbody>
  </table>
</div>