mat-grid-tile {
 
}

.example-card {
  max-width: 500px;
}

.Jason-header-image {
  background-image: url('https://s2.ax1x.com/2019/05/28/Ve17oF.png');
  background-size: cover;
}

.main-body {
	background: url('https://picsum.photos/1920/1080') bottom center no-repeat #efeff4 ;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
