<html>
<body class="main-body">
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="Jason-header-image"></div>
			<mat-card-title>Jason Lai</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Nathaniel Alvarado</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Dariusz Dulian</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Caroline Muller</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				Phasellus ullamcorper eleifend gravida. Nam bibendum hendrerit sapien ut efficitur. Nunc sit amet tincidunt odio. Sed fringilla lectus nisi, vitae ultrices risus hendrerit et. Ut rhoncus purus velit, sed venenatis nisi volutpat in. Curabitur vehicula nulla vitae ipsum euismod, vel dignissim tortor semper. Etiam non cursus mi. Vestibulum convallis est fringilla ex fermentum, posuere porta libero imperdiet. Pellentesque eu turpis vitae dui euismod pharetra sed imperdiet arcu. Curabitur iaculis rutrum sapien, eget tempus sapien. Sed maximus, diam quis molestie ultrices, lacus nisi ultrices mauris, in dignissim nisl quam nec risus.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Archie Paredes</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				Maecenas egestas, magna in posuere convallis, eros est viverra enim, vel tincidunt urna lorem vel neque. Nulla sed mi nisi. Morbi eu vulputate turpis, et maximus felis. Maecenas a dictum lectus, vitae dignissim mi. Proin dignissim neque in porttitor consequat. Ut a tincidunt mi. Sed sit amet est in mauris pulvinar tristique a non nulla. Pellentesque aliquam auctor odio, eget elementum nunc pulvinar quis. Nullam eleifend a lectus a rhoncus. Vivamus sit amet urna justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris suscipit est quis euismod lacinia. Aenean sit amet tempus augue. Quisque in tempus orci, nec venenatis dui.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Jonah Roach</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				Cras risus augue, imperdiet a felis sagittis, ultricies maximus massa. Nullam rutrum odio ut orci consequat tempor. Integer semper, odio sit amet pellentesque consectetur, odio est placerat magna, et commodo dui nulla et est. Proin rhoncus quam quis magna viverra, eu consectetur mi rutrum. Etiam vel nisi eros. Nullam at nisl tincidunt, euismod arcu sed, sodales leo. Aenean ac turpis a orci dictum cursus. Vestibulum aliquam in odio id placerat.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="intended-white"></mat-grid-tile>
  <mat-grid-tile>
	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Michael Szal</mat-card-title>
			<mat-card-subtitle>RecCenter Member</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>
				Donec purus nibh, tempus non nunc sed, ullamcorper sodales ligula. Nam vitae pulvinar metus. Sed sem erat, accumsan nec est sit amet, lobortis rutrum neque. Suspendisse elementum odio turpis, eget sollicitudin neque ullamcorper sodales. Curabitur congue ex diam, at semper diam venenatis eu. Aenean ac varius lorem. Sed nulla sem, viverra non ex eget, vulputate condimentum purus. Nullam nec dui id sapien mollis consectetur a eu nibh.
			</p>
		</mat-card-content>
	</mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="intended-white"></mat-grid-tile>
</mat-grid-list>
</body>
</html>