<div class="container">
  <div class="calculateBMI">
    <h2>Calculate your Body Mass Index</h2>
  </div>

  <form class="BMI">
    <div class="formBMI">
      <label>Enter weight in pounds:</label>
      <input type="text" name="weight">
    </div>

    <div class="formBMI">
      <label>Enter height in inches:</label>
      <input type="text" name="height">
    </div>

    <input class="button" type="submit" value="Calculate" name="calculate">
  </form>

  <div style="margin-top: 250px"></div>
</div>